input{
    margin: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(237, 237, 239);
    border-radius: 8px;
    object-fit: contain;
    background: rgba(0, 0, 139, 0.654);
    padding: 2px 20px;
}
.gimn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100% ;
}
.gimn-inside{
    width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}