.defaultValue{
    display: flex;
    flex-direction: column;
    width: 350px;

}
.defaultValue input{
    margin: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(237, 237, 239);
    border-radius: 8px;
    object-fit: contain;
    background: rgba(0, 0, 139, 0.654);
    padding: 2px 20px;
}
.ParentValue{
    display: flex;
}
.grid{
    display: flex;
}
/* .parentGrid{

} */