/* body {
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  .clock {
    width: 336px;
    height: 335px;
    border-radius: 50%;
    background-image: url("../src/assets/img/size.jpg");
    margin: 100px auto 0;
    position: relative;
    /* border: 2px solid #1e2028;  */
    /* z-index: 2000; */

  }
  /* .tick {
    background-color: #ededed;
    width: 2px;
    height: 10px;
    position: absolute;
    z-index: 50;
  } */
  
  .center {
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
    -webkit-box-shadow: 0px 5px 60px 62px rgba(29, 0, 255, 0.73);
    -moz-box-shadow: 0px 5px 60px 62px rgba(0, 0, 0, 0.73);
    box-shadow: 0 0 60px 65px rgba(29, 0, 255, 0.73);
  }
  
  
  .hourHand,
  .minuteHand,
  .secondHand {
    background-color: rgb(255, 255, 255);
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    z-index: 100;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  
  .hourHand {
    width: 6px;
    height: 75px;
    top: 98px;
    left: 164px;
  }
  
  .minuteHand {
    width: 5px;
    height: 120px;
    top: 54px;
    left: 166px;
  }
  
  .secondHand {
    width: 2px;
    height: 120px;
    background-color: #ff4500;
    top: 54px;
    left: 168px;
    transition: all 0.06s;
  }
  
  .time {
    position: absolute;
    top: -50%;
    left: 25%;
    border: 1px solid #1e2028;
    background-color: #ffffff;
    padding: 20px;
    display: block;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: none;
    min-width: 70px;
    height: 15px;
  }
  
  .time small {
    color: #ff4500;
    transition: all 0.05s;
  }
  
  .clock ul {
    list-style: none;
    padding: 0;
  }
  
  .clock ul li {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: #ededed;
  }
  .clock ul li:nth-child(1) {
    right: 22%;
    top: 6.5%;
  }
  
.clock ul li:nth-child(2) {
    right: 6%;
    top:25%;
}
.clock ul li:nth-child(3) {
    right: 1%;
    top:calc(50% - 10px);
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
}
.clock ul li:nth-child(4) {
    right: 6%;
    top:69%;
}
.clock ul li:nth-child(5) {
    right: 22%;
    top:84%;
}
.clock ul li:nth-child(6) {
    right: calc(50% - 10px);
    top:calc(99% - 20px);
    color:#ffffff;

    font-size: 20px;
    font-weight: bold;
}
.clock ul li:nth-child(7) {
    left: 22%;
    top:84%;
}
.clock ul li:nth-child(8) {
    left: 6%;
    top:69%;
}
.clock ul li:nth-child(9) {
    left: 1%;
    top:calc(50% - 10px);
    color:#ffffff;

    font-size: 20px;
    font-weight: bold;
}
.clock ul li:nth-child(10) {
    left: 6%;
    top:25%;
}
.clock ul li:nth-child(11) {
    left: 22%;
    top:6.5%;
}
.clock ul li:nth-child(12) {
    right: calc(50% - 10px);
    top:1%;
    color:#ffffff;

    font-size: 20px;
    font-weight: bold;
}




